<%= form_with(model: roomtype) do |form| %>
  <% if roomtype.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(roomtype.errors.count, "error") %> prohibited this roomtype from being saved:</h4>

      <ul>
        <% roomtype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="row h-100 justify-content-center flex-wrap align-items-center" >
  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name ,class:"form-control ",placeholder:"Name" %>
  </div>

  <div class="form-group">
    <%= form.label :max_guest, style: "display: block" %>
    <%= form.number_field :max_guest, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :minium_advance, style: "display: block" %>
    <%= form.number_field :minium_advance, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cancel_charges, style: "display: block" %>
    <%= form.number_field :cancel_charges, class:"form-control" %>
  </div>
  </div>

  <div class="justify-content-center flex-wrap align-items-center">
    <%= form.submit class:"btn btn-secondary" %>
    <%= link_to "Back", roomtypes_path, class:"btn btn-dark" %>
  </div>
  </div>
  </div>
<% end %>

