<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Max Guest</th>
      <th scope="col">Minimum Advance</th>
      <th scope="col">Cancel Advance</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
      <tr>
        <td><%= roomtype.code %></td>
        <td><%= roomtype.name %></td>
        <td><%= roomtype.max_guest %></td>
        <td><%= roomtype.minium_advance %></td>
        <td><%= roomtype.cancel_charges %></td>
        <td>
         
        </td>
      </tr>
</table>
