<div class="jumbotron">
  <h4 class="display-7"><%= roomtype.name %></h4>
  <p class="lead"><%= roomtype.code %> | <%= roomtype.name %> | <%= roomtype.max_guest %> | <%= roomtype.cancel_charges %> </p>
  <div>
  <p><%= link_to "Edit", edit_roomtype_path(@roomtype) , class:"btn btn-secondary"%> |
  <%= link_to "Back", roomtypes_path , class:"btn btn-dark"%> | <%= button_to "Delete", @roomtype,data:{ confirm:"Are you sure?"}, method: :delete, class:"btn btn-outline-danger sm" %></p>
</div>
</div>

