<br/>
<div id="roomtypes">

<table class="table table-bordered table-striped table-hover table-sm">
  <thead  class="thead-dark ">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Max Guest</th>
      <th scope="col">Minimum Advance</th>
      <th scope="col">Cancel Advance</th>
      <th scope="col">Created Date</th>
      <th scope="col">Last Update</th>
    </tr>
  </thead>
  <% @roomtypes.each do |roomtype| %>
      <tr>
        <td><%= roomtype.code %></td>
        <td><%= link_to roomtype.name, roomtype %></td>
        <td><%= roomtype.max_guest %></td>
        <td><%= roomtype.minium_advance %></td>
        <td><%= roomtype.cancel_charges %></td>
        <td><%= roomtype.created_at.strftime("%d-%b-%Y") %></td>
        <td><%= roomtype.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
  <% end %>
</table>

</div>
<br>
<%= link_to "Add New roomtype", new_roomtype_path, class:"btn btn-secondary" %>
<%if @roomtype.present? %>
 <%= render "form", roomtype: @roomtype %>
<%end%>