<p style="color: green"><%= notice %></p>

<%= render @roomtype %>

<div>
  <%= link_to "Edit", edit_roomtype_path(@roomtype) , class:"btn btn-secondary"%> |
  <%= link_to "Back", roomtypes_path , class:"btn btn-dark"%>

  <%= button_to "Delete", @roomtype, method: :delete, class:"btn btn-outline-danger sm" %>
</div>
