<%= form_with(model: room_master) do |form| %>
  <% if room_master.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(room_master.errors.count, "error") %> prohibited this room_master from being saved:</h4>

      <ul>
        <% room_master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card py 2 px 2">
  <div class="card-header">
  <div class="form-row h-100 justify-content-center align-items-center">
  <div class="form-group col-md-6">
    <%= form.label :room_no, style: "display: block" %>
    <%= form.number_field :room_no, class:"form-control form-control-sm col-sm-10"%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :maximum_clean_time, style: "display: block" %>
    <%= form.time_field :maximum_clean_time, class:"form-control form-control-sm col-sm-10"%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :bed, style: "display: block" %>
    <%= form.text_field :bed,class:"form-control form-control-sm col-sm-10"%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :block, style: "display: block" %>
    <%= form.text_field :block,class:"form-control form-control-sm col-sm-10"%>
  </div>

  <div class="form-group col-md-6"> 
    <%= form.label :floor, style: "display: block" %>
    <%= form.number_field :floor,class:"form-control form-control-sm col-sm-10" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :key_code, style: "display: block" %>
    <%= form.number_field :key_code, class:"form-control form-control-sm col-sm-10" %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :occupancy, style: "display: block" %>
    <%= form.text_field :occupancy, class:"form-control form-control-sm col-sm-10" %>
  </div>

  <div class="form-group col-md-6">
  <%= form.label :roomtype_id, style: "display: block" %>
  <%= form.collection_select :roomtype_id, Roomtype.all, :id, :name, { prompt: "Select Room Type" },class:"form-control form-control-sm col-sm-10" %>
</div>

  <br/>
  <div class="form-group col-md-6">
    <p><%= form.submit class:"btn btn-secondary"%>
    <%= link_to "Back", room_masters_path, class:"btn btn-dark" %></p>

  </div>
  </div>
<% end %>