<div id="<%= dom_id room_master %>">
  <p>
    <strong>Room No:</strong>
    <%= room_master.room_no %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room_master.room_type %>
  </p>

  <p>
    <strong>Maximum clean time:</strong>
    <%= room_master.maximum_clean_time %>
  </p>

  <p>
    <strong>Block:</strong>
    <%= room_master.block %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= room_master.floor %>
  </p>

  <p>
    <strong>Key code:</strong>
    <%= room_master.key_code %>
  </p>

  <p>
    <strong>Occupancy:</strong>
    <%= room_master.occupancy %>
  </p>

  <p>
    <strong>Roomtype:</strong>
    <%= room_master.roomtype_id %>
  </p>

</div>
