<div class="card  h-100 justify-content-center align-items-center" style="width: 28rem;" >
<div class="card-body">
  <ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Room No:</strong>
    <%= room_master.room_no %>
  </li>

  <li class="list-group-item">
    <strong>Maximum clean time:</strong>
    <%= room_master.maximum_clean_time %>
  </li>

  <li class="list-group-item">
    <strong>Bed:</strong>
    <%= room_master.bed %>
  </li>

  <li class="list-group-item">
    <strong>Block:</strong>
    <%= room_master.block %>
  </li>

  <li class="list-group-item">
    <strong>Floor:</strong>
    <%= room_master.floor %>
  </li>

  <li class="list-group-item">
    <strong>Key code:</strong>
    <%= room_master.key_code %>
  </li>

  <li class="list-group-item">
    <strong> Occupancy:</strong><%= room_master.occupancy %>
  </li>

  <li class="list-group-item">
    <strong>Roomtype:</strong>
    <%= room_master.roomtype.name %>
  </li>

</div>
</div>
<br/>