<%= form_with(model: mealplan) do |form| %>
  <% if mealplan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mealplan.errors.count, "error") %> prohibited this mealplan from being saved:</h2>

      <ul>
        <% mealplan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group ">
    <%= form.label :effective_date, style: "display: block" %>
    <%= form.date_field :effective_date, class:"form-control" %>
  </div>
 <div class="row col-sm-6">
  <div class="form-group">
    <%= form.submit "Save", class:"btn btn-primary" %>
  <%= link_to "Back", mealplans_path, class:"btn btn-dark" %>
</div>
</div>
<% end %>
