<%= form_with(model: room_feature) do |form| %>
  <% if room_feature.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room_feature.errors.count, "error") %> prohibited this room_feature from being saved:</h2>

      <ul>
        <% room_feature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
