<%= form_with(model: checkout_time) do |form| %>
  <% if checkout_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checkout_time.errors.count, "error") %> prohibited this checkout_time from being saved:</h2>

      <ul>
        <% checkout_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
