<%= form_with(model: nationality) do |form| %>
  <% if nationality.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nationality.errors.count, "error") %> prohibited this nationality from being saved:</h2>

      <ul>
        <% nationality.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :short_name, style: "display: block" %>
    <%= form.text_field :short_name %>
  </div>

  <div class="form-group col-md-6">
  <%= form.label :region_id, style: "display: block" %>
  <%= form.collection_select :region_id, Region.all, :id, :name, { prompt: "Select  Region" },class:"form-control form-control-sm col-sm-10" %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
